<h1>ki<pink>/b/</pink>tyland</h1>

kibtyland is an image board system entirely written in TypeScript by
matthilde to try the Deno runtime and TypeScript. It was initially a
small project but turned out to be a bigger project where she spent
a lot of time on it.

<h2>About posting</h2>

<p>
	To post, you need to upload an image with your post.
	No choice, you have to. Because it's an image board. However,
	uploading an image isn't necessary when replying to a post.
</p>

<p>
	To save space, I used a simple system that consists of naming the
	uploaded image by its SHA-256 checksum, allowing to prevent having
	duplicates (somewhat), which is quite cool when you're just making
	a casual talking thread.
</p>

<h2>About the markup language</h2>

<p>
	The post (and bio) markup language is very simple, it consists only
	of quotes and links.
</p>

<section class="boards">
	<quote>&gt; this is a quote. It's kinda like greentext on 4chan</quote>
	<br /><br />
	<a href="https://matthil.de">https://matthil.de</a><br />
	^^^^ an autolink, the markup detects links and makes them "clickable"
</section>

<h2>About the site design</h2>

<p>
	This site is JavaScript-free, to keep it simple, to keep it
	minimal and because I do not like client-side javascript. Sorry if
	it lacks fancy features you might get from other social medias.
</p>

<h2>About registration</h2>

This site is invite-only. You need to get an invite from me, the
admin. Members will be able to invite people eventually, for now it's
not the case.
