<h2>Admin dashboard</h2>

<p>
	Welcome to the admin dashboard, this is a wonderful place where
	you can gracefully abuse of your powers.
</p>

<h2>Invites</h2>

<p><a href="/admin/createInvite">create Invite</a></p>

<ul>
	<% for (code of invites) { %>
		<li>
			<a href="/admin/revokeInvite/<%= code %>">revoke</a>
			<%= code %>
		</li>
	<% } %>
</ul>
