<html>
	<head>
		<title>kibtyland</title>
		<link rel="stylesheet" type="text/css"
			  href="/static/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<section style="text-align: center">
			<h1>
				<img src="/static/logo.png"
					 style="margin-right: 8; vertical-align: middle" />
				ki<pink>/b/</pink>tyland
			</h1>
			<nav>
				<p>
					<a href="/">home</a>
					<% if (loginuser) { %>
						<a href="/logoff">logoff</a>
						<a href="/u/<%= loginuser %>">profile</a>
					<% } else { %>
						<a href="/login">login</a>
						<a href="/register">register</a>
					<% } %>
				</p>
				<p>
					<% for (const b of featured) { %>
						<a href="/b/<%= b %>"><%= b %></a>
					<% } %>
				</p>
			</nav>
		</section>
		<section>
			<%- webcontent %>
		</section>
		<section>
			kibtyland by <a href="https://matthil.de">matthilde</a>
		</section>
	</body>
</html>
