<center>
	<h3><pink>/b/</pink><%= board.name %></h3>
	<i><%= board.desc %></i>
</center>
<hr />

<% if (error) { %>
	<section style="background-color: #f001">
		<b><%= error %></b>
	</section>
<% } %>

<% if (user && (user.admin || !board.ro)) { %>
	<%- await include("views/post.ejs", {url: "/b/" + board.name,
	                                     prevmsg, postPolicy}) %>
<% } %>

<%- await include("views/posts.ejs",
	{ showBoard: false, loggedUser: user, pageno, query, format }); %>

<h6><center>
	<% if (pageno != 0) { %>
		<a href="<%= pageno-1 %>">&lt;&lt;</a>
	<% } %>
	<a href="<%= pageno+1 %>">&gt;&gt;</a>
</center></h6>
