<% if (!loggedUser) { %>
	<h2>Welcome to kibtyland!</h2>
	<p>
		A simple image board written in TypeScript by matthilde.
	</p>
<% } else { %>
	<h2>Welcome, <%= loggedUser.name %></h2>
	<p>Pick a board and start posting!</p>
<% } %>
<hr />

<p><b>Latest Admin Announcement</b></p>
<%- await include("views/posts.ejs",
	{ showBoard: true, loggedUser: loggedUser, query: news, format }); %>

<hr />

<table class="boards">
	<% for (const board of boards) { %>
		<section class="boards">
			<a href="/b/<%= board.name %>/" class="boardtitle">
				/b/<%= board.name %>
			</a>
				<% if (board.ro) { %>
					<b style="color: red">[READONLY]</b>
				<% } %>
				<%= board.desc %>
		</section>
	<% } %>
</table>
