<% if (error) { %>
	<section style="background-color: #f001">
		<b><%= error %></b>
	</section>
<% } %>

<section style="background-color: #0001">
	<form action="/login" method="post">
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" /></td>
			</tr>
			<tr><td><input type="submit" /></td></tr>
		</table>
	</form>
</section>
