<section class="postform">
	Need to post? Use that form! Remember to be nice otherwise you will
	be turned into mashed potatoes.<br/ >
	<ul>
		<li>Max upload size: <%= postPolicy.maxUpload %> MiB</li>
		<li>Max post size: <%= postPolicy.maxChars %> characters</li>
	</ul>

	<hr />
    <form action="<%= url %>" method="post" enctype="multipart/form-data">
		<div>
			<textarea rows="8" style="width: 100%"
					  name="message" maxlength="<%= postPolicy.maxChars %>"
			><%= prevmsg %></textarea>
		</div>
		<div>
			<input type="file" name="img" />
			<input type="submit" />
		</div>
	</form>
</section>
