<% function showPostOptions(post, user) { %>
	<smallmenu>
		<% if (showBoard) { %> <span>from /b/<%= post.board %></span> <% } %>
		<% if (!post.reply) { %>
			<a href="/p/<%= post.id %>">reply/view</a>
		<% } %>
		<% if (loggedUser &&
			(post.author == loggedUser.id || loggedUser.admin)) { %>
			<a href="/p/<%= post.id %>/delete">delete</a>
		<% } %>
	</smallmenu>
<% } %>

<% function showPost(post, user) { %>
	<section class="boards">
		<b><a href="/u/<%= user.name %>"><%= user.name %></a></b>
		<% if (user.admin)  { %> <pink>[ADMIN]</pink> <% } %>
		<% if (user.banned) { %> <red>[BANNED]</red>  <% } %>
		<i><%= format(post.timestamp) %> UTC</i>
		<% showPostOptions(post, user); %><br />
		<table class="post"><tr>
			<% if (post.img_id) { %>
				<td>
					<a href="/img/<%= post.img_id %>" target="_blank">
						<img class="thumb" src="/img/<%= post.img_id %>" />
					</a>
				</td>
			<% } %>
			<td><p><%- post.content %></p></td>
		</tr></table>
	</section>
<% } %>

<% if (query && query.posts.length > 0) { %>
	<% for (const row of query.posts) { %>
		<% showPost(row, query.users[row.author]); %>
		<% if (row.replies && row.replies.length > 0) { %>
			<div style="margin-left: 5%">
				<% for (const reply of row.replies) { %>
					<% showPost(reply, query.users[reply.author]); %>
				<% } %>
			</div>
		<% } %>
	<% } %>
<% } else { %>
	<b>Whoops, looks like there's nothing around there...</b>
<% } %>
