<% if (error) { %>
	<section style="background-color: #f001">
		<b><%= error %></b>
	</section>
<% } %>

<p>
	If you are about to register, this is because you received a
	verification string from the administrator (because this is a
	private thing). However, keep in mind those rules
</p>
<p>
	<ul>
		<li>Don't be a dick.</li>
		<li>Keep politics out.</li>
		<li>No homophobia, transphobia, racism, etc.</li>
		<li>Do not abuse the service (if it even stays up this long).</li>

		<li>also no nsfw or else i am turning you into mashed potatoes</li>
	</ul>
</p>

<section style="background-color: #0001">
	<p>Please fill this form to register.</p>
	<p>
		<ul>
			<li>Username regex: <code><%= uregex.toString() %></code></li>
			<li>Password regex: <code><%= pregex.toString() %></code></li>
			<li>The verification code is given to you by the admin</li>
		</ul>
	</p>
	<form action="/register" method="post">
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" /></td>
			</tr>
			<tr>
				<td>Invite Code</td>
				<td><input type="text" name="verif" /></td>
			</tr>
			<tr><td><input type="submit" /></td></tr>
		</table>
	</form>
</section>
