<% if (error) { %>
	<section style="background-color: #f001">
		<b><%= error %></b>
	</section>
<% } %>
<section>
	<h2>
		<%= user.name %>
		<pink><%= user.admin ? "ADMIN" : "" %></pink>
		<red><%= user.banned ? "BANNED" : "" %></red>
	</h2><hr />
	<p><%- user.bio %></p>

	<smallmenu>
		<% if (loggedUser) { %>
			<% if (loggedUser.admin && loggedUser.name != user.name) { %>
				<a href="/u/<%= user.name %>/ban">
					<%= user.banned ? "un" : "" %>ban user
				</a>
			<% } %>
		<% } %>
	</smallmenu>
	<% if (loggedUser && user.name == loggedUser.name) { %>
		<section class="postform">
			<p><b>Update your bio here!</b></p>
			<ul>
				<li>Max bio size: <%= postPolicy.maxChars %> characters</li>
			</ul>
			<hr />
			<form action="/u/<%= user.name %>" method="post"
				  enctype="multipart/form-data">
				<textarea rows="8" style="width: 100%"
						  name="bio" maxlength="<%= postPolicy.maxChars %>"
				></textarea>
				<input type="submit" />
			</form>
		</section>
	<% } %>
</section>

<hr />

<%- await include("views/posts.ejs",
	{ loggedUser, query, format, showBoard: true }); %>
