<% if (error) { %>
	<section style="background-color: #f001">
		<b><%= error %></b>
	</section>
<% } %>

<% if (deleted) { %>
	<section style="background-color: #f001">
		<b>This post has been 1984'd by either the admin or the user,
		and is now read-only and unlisted.</b>
	</section>
<% } %>

<%- await include("views/posts.ejs",
	{ showBoard: true, loggedUser: user, query, format }); %>

<% if (user && !deleted) { %>
	<%- await include("views/post.ejs", {url: "/p/" + postid,
	                                     postPolicy, prevmsg}) %>
<% } %>
