body {
    max-width: 50em;
    left: 0;
    right: 0;
    margin: auto;

	font-family: monospace;
	font-size:   14px;
}

a { color: darkcyan; }

section {
    border: black solid 1px;
    padding: 2em;
	margin: 1em;
}
section.boards {
	padding: 1em;
	background-color: #0001;
}
section.postform {
	padding: 1em;
	background-color: #0881;
}
a.boardtitle {
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	min-width: 30%;
}

img.thumb {
	max-width: 10em;
	max-height: 15em;
	width: auto; height: auto;
	vertical-align: top;
}
table.post td {
	vertical-align: top;
	padding: 0.5em;
}

pink { color: darkcyan; } /* yes ik it's not pink. */
quote {
	color: darkcyan;
}
red  { color: red; }

smallmenu {
	font-size: 0.6em;
	display: inline-block;
}

nav a {
	display: inline-block;
	margin: 8px;
}
@media only screen and (max-device-width: 768px) {
	section { margin: 0 }
}
